__pycache__
reports
.pytest_cache
.vscode
.idea
.git
.gitignore
.DS_Store
.envc
.env.example
.env.local
.env.development
.env.development.local
.env.test
.env.test.local
.env.production
.env.production.local
node_modules
build
dist
.next
.yarn
yarn.lock
pnpm-lock.yaml
.env